<div style="text-align:center;margin:auto;">
	<a href="https://play.google.com/store/apps/details?id=com.jsa.apps.recetariosaludable&hl=es_419" target="_blank">
		<%= image_tag 'banner.jpg'%>
	</a>
</div>
<footer>
	<p>&copy;   Los contenidos vertidos en este sitio web no reemplazan el tratamiento nutricional ni la consulta a su nutricionista y/o médico.</p>
</footer>
