<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
<div class="page-header">
<h1>Nutri Dietas</h1>
</div>
Esta plataforma le permitira al paciente interactuar con la licenciada Gabin y el plan dietario que ella ha determinado para usted. Haciendo de esta forma mucho mas simple el seguimiento de su dieta asi como la evalucion de los resultados por ustd logrados.
<div class="page-header">
<h3>Dietas</h3>
</div>
En esta seccion la licenciada le proporcionara los archivos en formato PDF con las dietas y los agregados a las cuales usted podra acceder clickeando sobre las distintas imagenes. Ademas en la parte inferior de la seccion, podra ver las cantidades de alimentos a consumir en cada comida (desayuno, colacion, almuerzo, merienda, cena).
<div class="page-header">
<h3>Medidas</h3>
</div>
En la seccion "Medidas" el paciente debera cargar las medidas solicitadas de manera periodica, de forma posterior a la visita al consultorio. Las medidas se encuentran en centimetros y se separan por "." para los decimales. Recuerde que este proceso es fundamental para poder llevar un seguimiento de su tratamiento asi como para que usted pueda apreciar su progreso en tratamiento. 
<div class="page-header">
<h3>Estadisticas</h3>
En esta seccion el paciente podra observar el progreso realizado por el con el plan dietario seguido, asi como ver cuales fueron los ultimos datos cargados por el paciente. Los graficos que usted observar fueron realizados a partir de los datos provistos por ustd asi como las medidas obtenidas por la licenciada durante su visita al consultorio.
</div>
<hr>
<%= render :partial => 'dashboard/footer' %>
</div>