<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="container">
			<h1>Medidas</h1>
			<p>En esta seccion usted podra ingreasar sus medidas al sistema, de forma tal de llevar un control de evolucion y ahorrar tiempo en su visita al consultorio.</p>
        <p><a class="btn btn-lg btn-primary" href="/static_pages/help" role="button">Conocer mas &raquo;</a></p>
		</div>
	</div>
</div>
<div class="container theme-showcase" role="main">
	<div class="page-header">
        <h2>Cargar Medidas</h2>
	</div>





	<hr>
	<footer>
		<p>&copy;   Esta pagina no suplanta la visita al consultorio...</p>
	</footer>
</div>
