<%= render :partial => 'dashboard/navigation' %>
<div class="container theme-showcase" role="main">
	<div class="jumbotron">
		<div class="container">
			<h1>Estadisticas</h1>
			<p>En esta seccion usted podra seguir su evolucion con las dietas asignadas, atravez de varios graficos, conformados por su historial de medidas.</p>
			<p><a class="btn btn-lg btn-primary" href="/static_pages/help" role="button">Conocer mas &raquo;</a></p>
		</div>
	</div>
</div>
<div class="container theme-showcase" role="main">
	<div class="page-header">
        <h2>Estadisticas</h2>
	</div>





	<hr>
	<footer>
		<p>&copy;   Esta pagina no suplanta la visita al consultorio...</p>
	</footer>
</div>
