<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Confirmar cuenta</title>
  <style type="text/css">
  body, td { color:#000000; font-size:14px; font-family:Verdana,Helvetica,Arial; }
  .divider { background-color:#555555; height:2px; }
  .episode h2 { margin-top:0; margin-bottom:8px; font-size:18px; }
  .episode p { margin:8px 0; }
  .episode img { border:solid 1px #777777; }
  .episode .duration { font-size:11px;color:#555555; }
  #footer { font-size:11px; color:#555555; }
  #footer a { color:#555555;}
  </style>
</head>
<body>
<img src="https://lh3.googleusercontent.com/lifRqf3p6XQGoOBWz_E8EWD4OTKTlumwuK5U7kFb7A=s630-fcrop64=1,00000842ffffec7a">
<p>Bienvenido <%= @email %>!</p>

<p>Por favor haga click en el link de abajo para confirmar su cuenta:</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
</body>
</html>