<p>Hola <%= @resource.email %>!</p>

<p>Ha solicitado cambiar su password. Para hacerlo por favor haga click en el link de abajo</p>

<p><%= link_to 'Cambiar password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito un cambio de password, entonces ignore este mail.</p>
