<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido suspendida debido a muchos intentos ingreso incorrecto.</p>

<p>Haga click en el link de abajo para desbloquear:</p>

<p><%= link_to 'Desbloquear', unlock_url(@resource, unlock_token: @token) %></p>
